{% extends "base.html" %}
{% block title %}MessageFeed{% endblock %}
{% block content %}
    {% for message in messages %}
        <h2>Wiadomość od:{{ message.user_from }} to:
        {% if message.user_to == None %}
            wszyscy
        {% else %}
            {{message.user_to}}
        {% endif %}
        </h2>
        <h4>
        {{ message.text }}
        {{ message.date }}
        </h4>




    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}

            <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">nastepna</a>

        {% endif %}
    </span>
</div>

{% endblock %}
